body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #605c5c;
  margin: 0;
  font-family: Tahoma, sans-serif;
}

section {
  background-color: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 75%;
  margin-left: 5px;
  position: relative;
}


input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
  font-family: inherit;
  text-align: right;
}

input:focus {
  border-color: #555;
}


button {
  padding: 10px;
  font-size: 16px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-family: inherit;
}

button:hover {
  background-color: #555;
}


p {
  color: red;
  font-size: 13px;
  margin: 0;
  text-align: right;
}



#togglePassword {
  
    margin-left: 5px;
    font-size: 12px;
    transform: translateY(-45px);
}

#toggleConfirmPassword {
    margin-left: 10px;
    font-size: 12px;
    transform: translateY(-75px);
    
}

#successMessage {
  color: green;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}



#passwordError {
  transform: translateY(-30px);
}

#confirmPassword {
  transform: translateY(-28px);
}

#confirmPasswordError {
  transform: translateY(-55px);
}




#successMessage {
  color: rgb(3, 157, 3);
  font-size: 12px;
  
  text-align: center;
  margin-top: 20px;
}



@media (min-width :1280px) { 


















body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #605c5c;
  margin: 0;
  font-family: Tahoma, sans-serif;
}

section {
  background-color: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 300px;
  position: relative;
}


input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
  font-family: inherit;
}

input:focus {
  border-color: #555;
}


button {
  padding: 10px;
  font-size: 16px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-family: inherit;
}

button:hover {
  background-color: #555;
}


p {
  color: red;
  font-size: 13px;
  margin: 0;
  text-align: right;
}



#togglePassword{
    transform: translateY(-45px);
    margin-left: 10px;
}




}






